snippet dm "display_math"
	$
		$1
	$$0

snippet __ "math subscript" A
	_($1)$0

snippet ^^ "math superscript" A
	^($1)$0

snippet sum "summation"
	sum _(${1:n = 1}) ^(${2:oo}) $0 

snippet to "arrow to"
	arrow.r
